<%- include('../common/header', {links: [`/static/css/tool.css`]}) %>
  <style>
    main {
      padding: 20px;
    }

    #title,
    #content {
      width: 100%;
      max-width: 800px;
    }

    #content {
      margin: 20px 0;
      height: 400px;
      overflow-x: hidden;
    }

    @media (prefers-color-scheme: dark) {
      #complete_btn {
        color: #fff;
      }
    }
  </style>

  <main class="flex-column aic">
    <input id="title" placeholder="标题">
    <textarea id="content" placeholder="正文: markdown语法" ondrop="app.dropTextarea(event)"
      onkeydown="app.keydownTextarea(event)" onpaste="app.pasteTextarea(event)"></textarea>
    <button id="complete_btn" style="padding: 4px 8px;">完成</button>
  </main>

  <script defer src="/static/js/edit.js"></script>
  <%- include('../common/footer') %>
