    <script src="https://cdn.jsdelivr.net/npm/leancloud-storage@4.2.0/dist/av-min.js"></script>
    <script src="/static/js/av.js"></script>
    <script src="/static/js/main.js"></script>
  </body>
</html>