<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8" />
    <title>kvker个人站</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="kvker个人的聚合搜索网站, 搜罗多多的网站" />
    <link rel="shortcut icon" href="favicon.ico" />
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css" />
    <% links.forEach(function(link) { %>
    <link rel="stylesheet" href="<%= link %>" />
    <% }) %>
    <style>
      .container {
        padding: 0;
      }
      .row {
        margin: 0;
      }
    </style>
  </head>
  <body class="container">
    <nav class="navbar navbar-expand bg-dark navbar-dark sticky-top">
      <ul class="navbar-nav justify-content-between w-100">
        <li class="nav-item d-flex">
          <a class="nav-link" href="/">首页</a>
          <a class="nav-link" href="/tool.html">工具</a>
        </li>
        <li class="nav-item">
          <a id="account" class="nav-link" href="#">账号</a>
        </li>
      </ul>
    </nav>
