<%- include('../common/header', {links: []}) %>

<main>
  <div class="flex-c aic">
    <p>请上传正方形的图，并且宽度限制在640像素以内。功能迭代，不好意思。</p>
    主图（白背景）
    <input type="file" onchange="page.changeInput(event, 0)" accept="image/*" />
    副图（黑背景）
    <input type="file" onchange="page.changeInput(event, 1)" accept="image/*" />
    <button onclick="page.doMergeImage()">合并</button>
    <button id="switch_btn" style="display: none" onclick="page.switchBG()">切换</button>
    <canvas id="canvas"></canvas>
  </div>
</main>

<script defer src="/static/js/cool_avatar.js"></script>

<%- include('../common/footer') %>
