<%- include('common/header', {links: [`https://cdn.staticfile.org/highlight.js/10.0.0/styles/default.min.css`, `static/css/art-detail.css`]}) %>

<main class="container flex-column aic">
  <h3 id="title" class="my-4"></h3>
  <div id="ctrls_box" style="display: none;">
    <button id="edit_btn" class="btn btn-primary" style="padding: 4px 8px;">编辑</button>
    <button id="delete_btn" class="btn btn-warning" style="padding: 4px 8px;">删除</button>
  </div>
</main>

<script defer src="static/js/art-detail.js"></script>
<%- include('common/footer', {scripts: [`https://cdn.staticfile.org/marked/1.20/marked.min.js`, `https://cdn.staticfile.org/highlight.js/10.1.2/highlight.min.js`]}) %>