<%- include('common/header', {links: [`/static/css/tool.css`]}) %>

<main class="d-flex flex-column align-items-center">
  <input id="title" class="w-100 mt-4" placeholder="标题">
  <textarea id="content" class="w-100 my-4" style="height: 60vh;resize: none;" placeholder="正文: markdown语法" ondrop="dropTextarea(event)"
    onkeydown="keydownTextarea(event)" onpaste="pasteTextarea(event)"></textarea>
  <button id="complete_btn" class="btn btn-primary w-25" style="padding: 4px 8px;">完成</button>
</main>

<script defer src="static/js/art-edit.js"></script>
<%- include('common/footer') %>
