<%- include('common/header', {links: [`/static/css/tool.css`]}) %>

<main class="flex flex-wrap jcsb" style="padding: var(--main_gap)" id="list"></main>

<script defer src="/static/js/tool.js"></script>
<%- include('common/footer') %>
