<%- include('common/header', {links: [`static/css/tool.css`]}) %>

<main class="container d-flex flex-wrap justify-content-between" id="list"></main>

<script defer src="static/js/tool.js"></script>
<%- include('common/footer') %>
