<%- include('common/header') %>

<main class="container d-flex">
  <nav id="nav" class="d-flex flex-column" style="width: 120px;"></nav>
  <iframe class="w-100 border-none" style="height: calc(100vh - 40px);" id="iframe" src="#"></iframe>
</main>

<script defer src="static/js/tool-bd_search.js"></script>

<%- include('common/footer') %>
